@import 'base/variable';
@import 'base/style';
@import 'base/responsive';

svg {
    g{
    path{ fill: white !important;}
}
    }
img {
    .white{
        background-color: white;
    }
}

table {
    width: 100%;
}

